.container{
    display: flex;
    gap: 30px;
}

.left{
    width: 50%;
    height: 70%;
}

.left img{
    width: 100%;
    height: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
