*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

.navbar-container{
    padding: 15px;
    background-color: chocolate;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.icon img{
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.navbar .title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-top: 14px;
    font-weight: 700;
}

.navbar .link{
    display: flex;
    justify-content: space-evenly;
    width: 30rem;
}

a{
    text-decoration: none;
    color: dimgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-top: 14px;
    font-weight: 700;
    cursor: pointer;
}


.navbar .link .links:hover{
    color: white;
}

.link-selected {
    color: white;
}

.btn{
    margin-top: 14px;
    border: none;
    width: 75px;
    font-family: 'Courier New', Courier, monospace;
    color: dimgray;
    cursor: pointer;
    border-radius: 6px;
    background-color: wheat;
    font-weight: 600;
    padding: 4px;
}

.btn:hover{
    color: red;
}