<!-- <p>nav-component works!</p> -->
<div class="navbar-container">
    <div class="navbar">
        <div class="icon">
            <img src="../../assets/images/school.png" alt="">
        </div>
        <div class="title">
            <p class="school_name">Chamberlain Heights</p>
        </div>

        <div class="link">
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-selected"  routerLink="">Home</a>
            <a routerLinkActive="link-selected" routerLink="addStudent">Add Student</a>
            <a routerLinkActive="link-selected" routerLink="students">Students</a>
            <a routerLinkActive="link-selected"  routerLink="balances">Balances</a>
            <a routerLinkActive="link-selected" routerLink="cleared">Cleared</a>
        </div>

        <div class="logout">
            <button (click)="logOut()" class="btn">Log Out</button>
        </div>
    </div>
</div>