.container{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
}

.input-container{
    margin-top: 0;
}

.input-container p{
    font-family: 'Courier New', Courier, monospace;
    color: dimgray;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.title{
    width: 30rem;
    margin: 20px;
    padding: 12px;
    background-color: chocolate;
    border-radius: 5px;
}

.title p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.input-form{
    height: 15rem;
    width: 30rem;
    margin: 20px;
}

.form{
    display: flex;
    flex-direction: column;
}
.form label{
    font-size: 15px;
    color: dimgray;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.form p{
    font-family: 'Courier New', Courier, monospace;
    color: dimgray;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}

.form input{
    padding: 8px;
}

.form .submitBtn{
    margin-top: 30px;
    background-color:chocolate;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.display-container{
    width: 48rem;
    margin-top: 18px;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: chocolate;
    border-radius: 5px;
}

.header-container p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.buttons-container{
    margin-top: 20px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons-container button{
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    border: 0;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    height: 40px;
    cursor: pointer;
}

.output-container{
    margin-top: 20px;
    height: 24rem;
}

#noResults{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: dimgray;
    font-weight: 600;
    margin-top: 10px;
}

.result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 10px;
    padding: 7px;
}

.result p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: dimgray;
    font-weight: 500;
}

.noBalance{
    color: forestgreen;
}

.hasBalance{
    color: firebrick;
}