
<div class="container">
    <div class="left-panel">
        <h4>Welcome to <br> <span>Chamberlain Heights</span> </h4>
        <p>To access our student management services, <br> we kindly urge you log in.</p>
        <div class="lottie-container">
            <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
    </div>
    <div class="right-panel">
        <h3>Log In</h3>
        <div class="inputs">
            <label>Email Address</label>
            <input type="email" class="txt" #studentEmail>
            <label>Password</label>
            <input type="password" class="txt" #studentPhoneNumber>
        </div>
        <button class="btn" (click)="logIn()">Log In</button>
    </div>
</div>